/student_performance/metadata/
/student_performance/mlruns/
/metadata/
/mlruns/
/.idea/inspectionProfiles/profiles_settings.xml
/.idea/.gitignore
/.idea/misc.xml
/.idea/modules.xml
/.idea/nycopendata.iml
/.idea/vcs.xml
/.terraform/providers/registry.terraform.io/hashicorp/azurerm/3.93.0/linux_amd64/terraform-provider-azurerm_v3.93.0_x5
/.terraform/providers/registry.terraform.io/hashicorp/azurerm/3.93.0/windows_386/terraform-provider-azurerm_v3.93.0_x5.exe
/.terraform.lock.hcl
/azurek8s
/env.list
/kubectl
/kubectl.sha256
/terraform.tfstate
/terraform.tfstate.backup
/.terraform/
/diabetics/mlruns/0/meta.yaml
/diabetics/notebooks/.ipynb_checkpoints/eda-checkpoint.ipynb
/diabetics/notebooks/.ipynb_checkpoints/jupyter-checkpoint.ipynb
